In [1]:
from sqlalchemy import create_engine
from sqlalchemy.engine.base import Engine
from sqlalchemy import text

In [2]:
conn_str = f'postgresql://salmanahmed121221:UOS4qwIahvz7@ep-proud-band-88245196.us-east-2.aws.neon.tech/pracdb?sslmode=require'

In [3]:
engine: Engine = create_engine(conn_str)

In [9]:
with engine.connect() as conn:
    # Start a new transaction
    trans = conn.begin()
    try:
        conn.execute(text("CREATE TABLE some_table (x int, y int)"))
        conn.execute(
            text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
            [{"x": 20, "y": 20}, {"x": 100, "y": 100},{"x":34,"y":67}]
        )
        # Commit the transaction
        trans.commit()
    except:
        # Rollback the transaction in case of error
        trans.rollback()
        raise

In [10]:
with engine.begin() as conn:
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 6, "y": 8}, {"x": 9, "y": 10}],
    )

# Fetching Rows

In [12]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))
    print(type(result))
    for x,y in result:
        print(f"x: {x}  y: {y}")

<class 'sqlalchemy.engine.cursor.LegacyCursorResult'>
x: 20  y: 20
x: 100  y: 100
x: 20  y: 20
x: 100  y: 100
x: 34  y: 67
x: 6  y: 8
x: 9  y: 10

# Sending Parameters in Where Clause

In [16]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table WHERE y > :y"), {"y": 50})
    for x,y in result:
        print(f"x: {x}  y: {y}")

x: 100  y: 100
x: 100  y: 100
x: 34  y: 67