# ORM: One-to-Many Relationships with SQLAlchemy

In [1]:
from sqlalchemy.orm import DeclarativeBase, Mapped, mapped_column, relationship
from sqlalchemy import ForeignKey

"""
table programs
    - id int pk
    - name str
    - years_of_study

table courses
    - id int pk
    - title
    - code
    - program_id => fk => programs.id
"""

'\ntable programs\n    - id int pk\n    - name str\n    - years_of_study\n\ntable courses\n    - id int pk\n    - title\n    - code\n    - program_id => fk => programs.id\n'

# Create Model

In [2]:
class Base(DeclarativeBase):
    pass


class Program(Base):
    __tablename__ = 'programs'
    id:Mapped[int] = mapped_column(primary_key=True)
    name:Mapped[str] = mapped_column(nullable=False)
    years_of_study:Mapped[int] = mapped_column(nullable=False)
    courses:Mapped[list['Course']] = relationship(backref='program',passive_deletes=True)

    def __repr__(self) -> str:
        return f"<Program {self.name}>"

In [3]:
class Course(Base):
    __tablename__ = 'courses'
    id:Mapped[int] = mapped_column(primary_key=True)
    title:Mapped[str] = mapped_column(nullable=False)
    code:Mapped[str] = mapped_column(nullable=False)
    program_id:Mapped[int] = mapped_column(ForeignKey('programs.id',ondelete='CASCADE'))

    def __repr__(self) -> str:
        return f"<Course {self.title}>"

# Connect and Create Engine and Session

In [7]:
from sqlalchemy import create_engine, text
from sqlalchemy.orm import sessionmaker
from sqlalchemy.engine.base import Engine
from sqlalchemy.orm.session import Session


engine: Engine = create_engine(
f'postgresql://salmanahmed121221:UOS4qwIahvz7@ep-proud-band-88245196.us-east-2.aws.neon.tech/pracdb?sslmode=require',
    echo= True
)


Session = sessionmaker(bind=engine)

db: Session = Session()

# Create Database

In [8]:
Base.metadata.create_all(bind=engine)

2023-12-29 16:49:30,093 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-12-29 16:49:30,097 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-29 16:49:32,046 INFO sqlalchemy.engine.Engine select current_schema()
2023-12-29 16:49:32,048 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-29 16:49:32,755 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-12-29 16:49:32,759 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-29 16:49:33,380 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-29 16:49:33,410 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2023-12-29 16:49:33,413 INFO sqlalchemy.engine.Engine [generated in 0.00395s] {'table_name': 'programs', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2023-12-29 16:49:34,089 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2023-12-29 16:49:34,092 INFO sqlalchemy.engine.Engine [cached since 0.6825s ago] {'table_name': 'courses', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2023-12-29 16:49:34,387 INFO sqlalchemy.engine.Engine
CREATE TABLE programs (
	id SERIAL NOT NULL,
	name VARCHAR NOT NULL,
	years_of_study INTEGER NOT NULL,
	PRIMARY KEY (id)
)


2023-12-29 16:49:34,392 INFO sqlalchemy.engine.Engine [no key 0.00446s] {}
2023-12-29 16:49:34,806 INFO sqlalchemy.engine.Engine
CREATE TABLE courses (
	id SERIAL NOT NULL,
	title VARCHAR NOT NULL,
	code VARCHAR NOT NULL,
	program_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(program_id) REFERENCES programs (id) ON DELETE CASCADE
)


2023-12-29 16:49:34,809 INFO sqlalchemy.engine.Engine [no key 0.00304s] {}
2023-12-29 16:49:35,210 INFO sqlalchemy.engine.Engine COMMIT

# Populate Database

In [9]:
program1 = Program(
    name = "Bachelors in CS",
    years_of_study =3
)

program2 = Program(
    name = "Bachelors in Business",
    years_of_study =3
)

# saving programs
db.add_all(
    [program1,program2]
)

db.commit()

2023-12-29 16:50:37,941 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-29 16:50:37,952 INFO sqlalchemy.engine.Engine INSERT INTO programs (name, years_of_study) SELECT p0::VARCHAR, p1::INTEGER FROM (VALUES (%(name__0)s, %(years_of_study__0)s, 0), (%(name__1)s, %(years_of_study__1)s, 1)) AS imp_sen(p0, p1, sen_counter) ORDER BY sen_counter RETURNING programs.id, programs.id AS id__1
2023-12-29 16:50:37,955 INFO sqlalchemy.engine.Engine [generated in 0.00070s (insertmanyvalues) 1/1 (ordered)] {'years_of_study__0': 3, 'name__0': 'Bachelors in CS', 'years_of_study__1': 3, 'name__1': 'Bachelors in Business'}
2023-12-29 16:50:38,600 INFO sqlalchemy.engine.Engine COMMIT

In [10]:
#create course objects
course1 = Course(
    title ="Database Management Systems",
    code = "CS 102"
)


course2 = Course(
    title ="Data SCIENCE",
    code = "CS 103"
)


course3 = Course(
    title ="Data STRUCTURES AND ALGRITHMS",
    code = "CS 110"
)

course4 = Course(
    title ="Businnes communication",
    code = "BS 123"
)


# adding child object to parent
program1.courses.append(course1)
program1.courses.append(course2)
program1.courses.append(course3)

program2.courses.append(course4)

db.commit()

2023-12-29 16:51:24,524 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-29 16:51:24,535 INFO sqlalchemy.engine.Engine SELECT programs.id AS programs_id, programs.name AS programs_name, programs.years_of_study AS programs_years_of_study
FROM programs
WHERE programs.id = %(pk_1)s
2023-12-29 16:51:24,538 INFO sqlalchemy.engine.Engine [generated in 0.00297s] {'pk_1': 1}
2023-12-29 16:51:25,202 INFO sqlalchemy.engine.Engine SELECT courses.id AS courses_id, courses.title AS courses_title, courses.code AS courses_code, courses.program_id AS courses_program_id
FROM courses
WHERE %(param_1)s = courses.program_id
2023-12-29 16:51:25,205 INFO sqlalchemy.engine.Engine [generated in 0.00307s] {'param_1': 1}
2023-12-29 16:51:25,509 INFO sqlalchemy.engine.Engine INSERT INTO courses (title, code, program_id) SELECT p0::VARCHAR, p1::VARCHAR, p2::INTEGER FROM (VALUES (%(title__0)s, %(code__0)s, %(program_id__0)s, 0), (%(title__1)s, %(code__1)s, %(program_id__1)s, 1), (%(title__2)s, %(code__2)s, %(program_id__2)s, 2)) AS imp_sen(p0, p1, p2, sen_counter) ORDER BY sen_counter RETURNING courses.id, courses.id AS id__1
2023-12-29 16:51:25,513 INFO sqlalchemy.engine.Engine [generated in 0.00033s (insertmanyvalues) 1/1 (ordered)] {'title__0': 'Database Management Systems', 'code__0': 'CS 102', 'program_id__0': 1, 'title__1': 'Data SCIENCE', 'code__1': 'CS 103', 'program_id__1': 1, 'title__2': 'Data STRUCTURES AND ALGRITHMS', 'code__2': 'CS 110', 'program_id__2': 1}
2023-12-29 16:51:25,807 INFO sqlalchemy.engine.Engine SELECT programs.id AS programs_id, programs.name AS programs_name, programs.years_of_study AS programs_years_of_study
FROM programs
WHERE programs.id = %(pk_1)s
2023-12-29 16:51:25,810 INFO sqlalchemy.engine.Engine [cached since 1.275s ago] {'pk_1': 2}
2023-12-29 16:51:26,114 INFO sqlalchemy.engine.Engine SELECT courses.id AS courses_id, courses.title AS courses_title, courses.code AS courses_code, courses.program_id AS courses_program_id
FROM courses
WHERE %(param_1)s = courses.program_id
2023-12-29 16:51:26,118 INFO sqlalchemy.engine.Engine [cached since 0.9158s ago] {'param_1': 2}
2023-12-29 16:51:26,438 INFO sqlalchemy.engine.Engine INSERT INTO courses (title, code, program_id) VALUES (%(title)s, %(code)s, %(program_id)s) RETURNING courses.id
2023-12-29 16:51:26,443 INFO sqlalchemy.engine.Engine [generated in 0.00537s] {'title': 'Businnes communication', 'code': 'BS 123', 'program_id': 2}
2023-12-29 16:51:26,726 INFO sqlalchemy.engine.Engine COMMIT

# Query Database

In [11]:
myprogram1: Program = db.query(Program).filter_by(name = "Bachelors in CS").first()
print(myprogram1.name)

mycourse3: Course = db.query(Course).filter_by(title='Data STRUCTURES AND ALGRITHMS').first()
print(mycourse3.title)

2023-12-29 16:53:19,925 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-29 16:53:19,932 INFO sqlalchemy.engine.Engine SELECT programs.id AS programs_id, programs.name AS programs_name, programs.years_of_study AS programs_years_of_study
FROM programs
WHERE programs.name = %(name_1)s
 LIMIT %(param_1)s
2023-12-29 16:53:19,935 INFO sqlalchemy.engine.Engine [generated in 0.00272s] {'name_1': 'Bachelors in CS', 'param_1': 1}
Bachelors in CS
2023-12-29 16:53:20,475 INFO sqlalchemy.engine.Engine SELECT courses.id AS courses_id, courses.title AS courses_title, courses.code AS courses_code, courses.program_id AS courses_program_id
FROM courses
WHERE courses.title = %(title_1)s
 LIMIT %(param_1)s
2023-12-29 16:53:20,478 INFO sqlalchemy.engine.Engine [generated in 0.00357s] {'title_1': 'Data STRUCTURES AND ALGRITHMS', 'param_1': 1}
Data STRUCTURES AND ALGRITHMS

# Delete Rows

In [12]:
db.delete(myprogram1)

db.commit()

2023-12-29 16:54:40,660 INFO sqlalchemy.engine.Engine DELETE FROM programs WHERE programs.id = %(id)s
2023-12-29 16:54:40,667 INFO sqlalchemy.engine.Engine [generated in 0.00728s] {'id': 1}
2023-12-29 16:54:40,985 INFO sqlalchemy.engine.Engine COMMIT